

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js dependencies
node_modules

# Build output
dist
dist-ssr
out
.vite  # Vite build cache
.cache  # Vite cache folder

# Local environment files (env)
.env
.env.local
.env.*.local
*.local

# Editor directories and files
.vscode/
!.vscode/extensions.json #Allow vs code extensions files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Mac system files (if using macOS)
*.DS_Store

# Windows system files
Thumbs.db
